Repository JordanTDawson/dark-culture: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx}": [
    ""
  ]
}

Completed 'Delete message for Cart'. Fixed bugs along the way.
  client/catalog-components/cart-items.jsx
  client/catalog-components/cart-message.jsx
  client/pages/cart.jsx
Due: none

Changed Bootstrap for three column image.
  client/home-components/three-column-image.jsx
Due: none

Dleted Blog section of the website.
  client/app.jsx
  client/components/navbar.jsx
  client/pages/blog.jsx
Due: none

Added hover effects to catalog items. Added hover effect to three images on home page.
  client/catalog-components/products.jsx
  client/home-components/three-column-image.jsx
  client/index.jsx
  server/public/styles.css
Due: stylelint --fix

Unsaved CSS file commiting again.
  server/public/styles.css
Due: stylelint --fix

Cleaned individual project styling.
  client/catalog-components/product-details.jsx
Due: none

Unsaved file commiting again.
  client/catalog-components/product-details.jsx
Due: none

Corrected error in routing with Logo in Navbar.
  client/components/navbar.jsx
Due: none

Centered text in the cart when there are no items. Added conditional for Brand Footer component.
  client/app.jsx
  client/components/brand-footer.jsx
  client/pages/cart.jsx
Due: none

Changed anchor element for empty cart message to a button element.
  client/pages/cart.jsx
Due: none

Cleaned up the look of the cart cards.
  client/catalog-components/cart-items.jsx
  client/pages/cart.jsx
Due: none

Changed renderPage to contain conditional for BrandFooter. Fixed not found page anchor element. Routing to correct page now.
  client/app.jsx
  client/catalog-components/products.jsx
  client/pages/not-found.jsx
Due: none

Cleaned up not found page. Cleaned up no items in cart message.
  client/pages/cart.jsx
  client/pages/not-found.jsx
  server/public/styles.css
Due: stylelint --fix

Completed adding state and ternary statement when adding item to cart through product details page.
  client/catalog-components/product-details.jsx
Due: none

Created Loader component and copied CSS for loader.
  client/components/loader.jsx
  server/public/styles.css
Due: stylelint --fix

Removed sticky bottom from footer. Changed color of loader. Loader functionality complete.
  client/app.jsx
  client/components/brand-footer.jsx
  server/public/styles.css
Due: stylelint --fix

Added error for when trying to add item to cart more than once. Also made spacing in cart the same as catalog.
  client/catalog-components/product-details.jsx
  client/pages/cart.jsx
Due: none

Added hover effects to cart. Removed unnecessary styles for navbar. Cleaned up Carousel and Loader.
  client/catalog-components/cart-items.jsx
  client/components/loader.jsx
  client/components/navbar.jsx
  client/home-components/carousel.jsx
Due: none

Added alt attribute to images. Replaced dummy data with actual clothing. Changed website name to Dark Culture.
  client/catalog-components/cart-items.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/components/navbar.jsx
  client/home-components/hero-image.jsx
  client/home-components/three-column-image.jsx
  database/data.sql
  package.json
  server/public/styles.css
Due: stylelint --fix

Completed polish work for the website.
  client/catalog-components/cart-items.jsx
  client/catalog-components/products.jsx
  client/home-components/carousel.jsx
  client/pages/cart.jsx
  server/public/styles.css
Due: stylelint --fix

Added font family for all heading elements and body element. Changed title element to Dark Culture.
  server/public/index.html
  server/public/styles.css
Due: markuplint, stylelint --fix

Completed check for item being in cart in product details page.
  client/app.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/home-components/hero-image.jsx
Due: none

Forgot to save some files.
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
Due: none

Added font to navbar, catalog cards, carousel, fixed font-size on hero image title.
  client/catalog-components/cart-items.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/components/navbar.jsx
  client/home-components/carousel.jsx
  client/home-components/hero-image.jsx
  server/public/styles.css
Due: stylelint --fix

Completed cart. Fixed some bootstrap design work.
  client/app.jsx
  client/catalog-components/cart-items.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/components/brand-footer.jsx
  client/home-components/carousel.jsx
  client/pages/cart.jsx
  client/pages/catalog.jsx
Due: none

Removed unused dependency.
  client/index.jsx
Due: none

Changed database url for deployment.
  server/index.js
Due: none

changed object fit on carousel.
  client/home-components/carousel.jsx
Due: none

Completed adding proper loading to catalog. Changed three column image component to map through items.
  client/catalog-components/products.jsx
  client/components/brand-footer.jsx
  client/components/navbar.jsx
  client/home-components/carousel.jsx
  client/home-components/three-column-image.jsx
  client/pages/cart.jsx
  client/pages/catalog.jsx
Due: none

Converted carousel to map through instead of hard code.
  client/home-components/carousel.jsx
Due: none

Fixed hero images and made other small changes.
  client/app.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/components/navbar.jsx
  client/home-components/hero-image.jsx
  database/schema.sql
  server/public/styles.css
Due: stylelint --fix

Completed mapping brand-footer.
  client/app.jsx
  client/components/brand-footer.jsx
Due: none

Updated ReadME
  README.md
Due: none

checking to see if pushing works now.
  client/components/brand-footer.jsx
Due: none

Fixed issue with footer causing whitespace on home page.
  client/components/brand-footer.jsx
Due: none

added useState to offcanvas navbar.
  client/components/navbar.jsx
Due: none

Added async and await to catalog and cart component.
  client/pages/cart.jsx
  client/pages/catalog.jsx
Due: none

Converted products, product details, and cart items to async and await.
  client/catalog-components/cart-items.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/home-components/hero-image.jsx
Due: none

forgot to save the cart file.
  client/catalog-components/cart-items.jsx
Due: none
