Repository JordanTDawson/dark-culture: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx}": [
    ""
  ]
}

made util file and moved handeRemoveItem from cart-items.jsx
  client/catalog-components/cart-items.jsx
  client/util-files/cartutils.js
Due: none

Completed filling the util file with all the utilities that were in the cart files.
  client/catalog-components/cart-items.jsx
  client/catalog-components/cart-message.jsx
  client/pages/cart.jsx
  client/util-files/cartutils.js
Due: none

Added some comments for the utilities.
  client/pages/cart.jsx
  client/util-files/cartutils.js
Due: none

Converted product and product details to use utility file.
  client/catalog-components/cart-items.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/pages/cart.jsx
  client/util-files/cart-utils.js
  client/util-files/product-utils.js
Due: none

Completed adding products utilities to utility file.
  client/pages/catalog.jsx
  client/util-files/product-utils.js
Due: none

Cleaned up imports for all files, added hardcoded data into database directory, add comments where needed, and added export defaults in index.jsx.
  client/app.jsx
  client/catalog-components/cart-items.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/components/brand-footer.jsx
  client/components/loader.jsx
  client/components/navbar.jsx
  client/home-components/carousel.jsx
  client/home-components/three-column-image.jsx
  client/index.jsx
  client/pages/cart.jsx
  client/pages/catalog.jsx
  client/pages/home.jsx
  client/util-files/cart-utils.js
  database/home-components-data.js/carousel-data.js
  database/home-components-data.js/three-product-image.js
  database/universal-components/brand-titles.js
  database/universal-components/navbar-data.js
Due: none

Completed the rest of small polish items.
  client/catalog-components/cart-items.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/components/navbar.jsx
  client/home-components/three-column-image.jsx
  client/pages/cart.jsx
  database/home-components-data.js/three-product-image.js
  server/public/index.html
  server/public/styles.css
Due: markuplint, stylelint --fix

Forgot to save CSS file.
  server/public/styles.css
Due: stylelint --fix

Grouped bootstrap components.
  client/app.jsx
  client/catalog-components/cart-items.jsx
  client/catalog-components/product-details.jsx
  client/catalog-components/products.jsx
  client/components/Navbar.jsx
  client/components/brand-footer.jsx
  client/home-components/three-column-image.jsx
  client/index.jsx
  client/pages/cart.jsx
Due: none

Started conversion of index.js file.
  database/home-components-data.js/carousel-data.js
  database/home-components-data.js/three-product-image.js
  server/index.js
Due: none

Renamed component folder. Implemented scroll to top button.
  client/app.jsx
  client/home-components/carousel.jsx
  client/home-components/three-column-image.jsx
  database/home-components-data/carousel-data.js
  database/home-components-data/three-product-image.js
  server/index.js
  server/public/styles.css
Due: stylelint --fix
